<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/css/styles.css">
  
</head>
<body>

  <main>
    <div class = "row">
      <div class = "col">
      <h1>Welcome to the Career Portal</h1>
      <p>Explore various career opportunities and manage your career profile.</p>
    {{#if careers.length}}
      <section class="careers">
        <h2>Your Careers</h2>
        <ul>
          {{#each careers}}
            <li>{{this.jobTitle}} - {{this.description}}</li>
          {{/each}}
        </ul>
      </section>
    {{else}}
      <section class="no-careers">
        <h2>No careers found</h2>
        <p>You have not added any careers yet. Start by creating a new career entry!</p>
      </section>
    {{/if}}

    </div>
    <div class = "col">
      <h1>Welcome to the Vacation Portal</h1>
      <p>Explore various vacation sites and manage your vacation plans.</p>
    {{#if vacations.length}}
      <section class="vacation">
        <h2>Your Vacations</h2>
        <ul>
          {{#each vacations}}
            <li>{{this.destination}}</li>
          {{/each}}
        </ul>
      </section>
    {{else}}
      <section class="no-vacation">
        <h2>No Vacations found</h2>
        <p>You have not added any vacations yet. Start by creating a new vacation entry!</p>
      </section>
    {{/if}}

    </div>
    <div class = "col">
    <h1>Welcome to the Shopping List Portal</h1>
    <p>Generate a shopping list and keep track of necessary shopping expenses.</p>
    {{#if shoppingLists.length}}
      <section class="shoppingList">
        <h2>Your Shopping Lists</h2>
        <ul>
          {{#each shoppingLists}}
            <li>{{this.item}} - {{this.quantity}}</li>
          {{/each}}
        </ul>
      </section>
    {{else}}
      <section class="no-shoppingList">
        <h2>No Shopping Lists found</h2>
        <p>You have not added any shopping lists yet. Start by creating a new shopping list entry!</p>
      </section>
    {{/if}}

    </div>
    <div class = "col">
    <h1>Welcome to the Events Portal</h1>
    <p>Generate a list of upcoming events and keep track of important dates.</p>
    {{#if events.length}}
      <section class="events">
        <h2>Your Events</h2>
        <ul>
          {{#each events}}
            <li>{{this.title}} - {{this.description}}</li>
          {{/each}}
        </ul>
      </section>
    {{else}}
      <section class="no-events">
        <h2>No Events found</h2>
        <p>You have not added any events yet. Start by creating a new entry for upcoming events!</p>
      </section>
    {{/if}}
    </div>
    </div>
  </main>
</body>
</html>